/* Reset by https://piccalil.li/blog/a-modern-css-reset/ */

:root {
  --bg-color: rgb(230, 230, 230);
  --screen-color: rgb(18, 33, 48);
  --body-color: rgb(19, 34, 57);
  --red-keys: rgb(255, 97, 69);
  --blue-keys: rgb(90, 159, 232);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Screen */

.main-container {
  width: 350px;
  height: 650px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.screen-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 200px;
  background-color: var(--screen-color);
  border-bottom: 2px solid var(--blue-keys);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
}

.screen-span {
  padding: 0 30px 15px 0;
  font-size: 2.5em;
}

.main-body-container {
  height: 510px;
  background-color: var(--body-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px 10px;
}

.body-row {
  display: flex;

  height: 90px;
  color: white;
}

.key-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87.5px;
  background-color: rgb(19, 34, 57);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.5em;
}

.key-inputs:hover {
  background-color: rgb(39, 71, 104);
}

#clear-key {
  color: var(--red-keys);
}

#random-key,
#percent-key,
#divide-key,
#multiply-key,
#plus-key,
#minus-key {
  color: var(--blue-keys);
}

#equals-key {
  align-self: center;
  height: 55px;
  border-radius: 5px;
  background: rgb(0, 202, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 202, 255, 1) 0%,
    rgba(0, 121, 255, 1) 100%
  );
}

#equals-key:hover {
  background: rgb(80, 219, 255);
  background: linear-gradient(
    90deg,
    rgba(80, 219, 255, 1) 0%,
    rgba(60, 153, 255, 1) 100%
  );
}
